.header {
  position: fixed;
  z-index: 4;
  background-color: black;
}
.header .right-header .logo {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 32px;
  margin-left: 30px;
}
.header .right-header .main-menu ul li a p:hover {
  color: #fdc13c;
}
.header .left-header .list-header a {
  color: #cccccc;
  margin: 0 1.2em;
}
.header .left-header .list-header a p:hover {
  color: #fdc13c;
}
.header .left-header .payment a {
  background-color: #1cb561;
  padding: 0.8em 1.4em;
  font-size: 0.75rem;
  color: #fff;
}
.header .left-header .account .account-img {
  border-radius: 20px;
  background-color: #5b0808;
  padding: 6px;
  border-color: #f13030;
  border-style: solid;
  border-width: 2px;
}
.hero-section .hero-image {
  background: #151515 no-repeat center;
  height: 560px;
  background-size: cover;
  position: relative;
}
.hero-section .hero-image .transparent {
  background-color: rgba(0, 0, 0, 0.6);
  height: 560px;
}
.hero-section .hero-image .hero-wrapper {
  position: relative;
  z-index: 1;
}
.hero-section .top-hero .poster-information .poster {
  width: 240px;
  height: 320px;
  position: relative;
}
.hero-section .top-hero .poster-information .poster:hover .overly,
.hero-section .top-hero .poster-information .poster:hover .icon-overly {
  opacity: 1;
  visibility: visible;
}
.hero-section .top-hero .poster-information .poster .overly {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 2s;
}
.hero-section .top-hero .poster-information .poster .icon-overly {
  background-color: #1cb561;
  border-radius: 20px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 2s;
}
.hero-section .top-hero .poster-information .information {
  flex-direction: column;
}
.hero-section .top-hero .poster-information .information .icon-info-big {
  width: 27px;
  height: auto;
}
.hero-section .top-hero .information .name-vote .name p {
  padding-bottom: 1.9em;
  font-size: 1.08rem;
}
.hero-section .top-hero .information .name-vote .name h1 {
  font-size: 1.1rem;
  font-weight: 300;
}
.hero-section .top-hero .poster-information .information .name-vote .vote {
  background-color: #d19e31;
  padding: 0.35em 0.4em;
  border-radius: 13px;
  width: fit-content;
  margin-top: 1.4em;
  gap: 1em;
}
.hero-section .top-hero .poster-information .information .name-vote .vote p {
  color: #151515;
  font-weight: bold;
  font-size: 0.65rem;
}
.hero-section .top-hero .poster-information .information .age p {
  color: #fdc13c;
  font-size: 0.8rem;
}
.hero-section .top-hero .poster-information .information .actor-time {
  font-size: 0.66rem;
  padding-top: 1.8em;
  line-height: 3.6em;
  color: #f9f9f9;
}
.hero-section .top-hero .poster-information .information .genre a p {
  background-color: #4d4d4d;
  padding: 0.6em 0.9em;
  border-radius: 12px;
  font-size: 0.64rem;
  color: #fff;
}
.hero-section .top-hero .online {
  flex-direction: column;
  gap: 1.35em;
  background-color: rgba(77, 77, 77, 0.5);
  padding: 1.3em 0.6em;
  font-size: 0.84rem;
  color: #e7e5e5;
}
.hero-section .top-hero .online .title {
  text-align: center;
  padding-bottom: 1.6em;
}
.hero-section .top-hero .online .pic-online img {
  width: 150px;
  height: auto;
  margin-bottom: 0.8em;
}
.hero-section .info {
  padding: 0.9em;
  padding-top: 2.3em;
}
.hero-section .bottom-hero {
  font-size: 0.73rem;
  padding-top: 1.7em;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.hero-section .hero-image .hero-wrapper .bottom-hero .save-right {
  position: relative;
}
.hero-section .hero-image .hero-wrapper .bottom-hero .save-right .save {
  background-color: rgba(134, 131, 131, 0.5);
  padding: 0.85em 1.7em;
  color: #fff;
}
.hero-section .bottom-hero .save-right:hover .overly-save {
  opacity: 1;
  visibility: visible;
}
.hero-section .hero-image .hero-wrapper .bottom-hero .save-right .overly-save {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.hero-section .hero-image .hero-wrapper .bottom-hero .save-right .save img {
  width: 10px;
  height: auto;
}
.hero-section .hero-image .hero-wrapper .bottom-hero .watch-left a p {
  background-color: #de2f2f;
  padding: 0.85em 7em;
  color: #fff;
}
.about .img {
  position: relative;
}
.about .img .overly {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.about .img .icon-overly {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  padding: 15px;
}
.about .text {
  padding-right: 1.5em;
}
.about .text p {
  color: #afa7a7;
  font-weight: 300;
  line-height: 2;
}
.about .text p a:hover {
  color: #fdc13c;
}
.about .text .description-story {
  padding-bottom: 4em;
}
.about .text h3 {
  padding-bottom: 0.8em;
  font-weight: 700;
  font-size: 0.95rem;
}
.recomended .header-special {
  padding-top: 2em;
}
.recomended .header-special .more a {
  flex-direction: row-reverse;
  color: #fdc13c;
  font-size: 0.8rem;
}
.recomended .header-special .more a .icon-special {
  width: 5px;
  height: auto;
}
.recomended .items-list {
  padding: 1em 0 3em 0;
}
.recomended .items-list ul {
  flex-wrap: wrap;
  justify-content: center;
}
.recomended .items-list ul li {
  width: 223px;
  height: 293px;
  position: relative;
  padding: 0.3em;
}
.recomended .items-list ul li a {
  display: block;
  position: relative;
}
.recomended .items-list ul li a span {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: #1cb561;
  border-radius: 10px;
  font-size: 0.7rem;
  padding: 0.4em;
  display: inline-block;
  color: #fff;
}
.recomended .items-list ul li a img.copy-right {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.recomended .items-list ul li .overly {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.recomended .items-list ul li a .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.7);
  left: 0;
  top: 0;
  z-index: 2;
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
}
.recomended .items-list ul li a .hover-box {
  flex-direction: column;
  gap: 0.3em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  font-size: 0.65rem;
  z-index: 3;
}
.recomended .items-list ul li a .hover-box p {
  color: #fff;
  padding: 0.6em;
}
.recomended .items-list ul li a .hover-box .imbd {
  gap: 1em;
  background-color: rgba(77, 77, 77, 0.8);
  border-radius: 10px;
  width: fit-content;
  padding: 0.1em 0.2em;
}
.recomended .items-list ul li a .hover-box .imbd p {
  padding: 0.1em 0;
}
.recomended .items-list ul li:hover .hover-box,
.recomended .items-list ul li:hover .overlay {
  opacity: 1;
  visibility: visible;
}
.recomended .items-list ul li a .hover-box .imbd .icon-special {
  width: 18px;
  height: auto;
}
.recomended .online .items-list ul li a span {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  background-color: #aa1f1f;
  border-radius: 10px;
  font-size: 0.6rem;
  padding: 0.4em;
  display: inline-block;
  color: #fff;
}
.actors .title {
  padding-bottom: 1em;
  font-weight: 700;
  margin-top: 3em;
}
.actors ul {
  flex-wrap: wrap;
  align-content: center;
  justify-content: start;
  gap: 0.8em 0.2em;
  padding-right: 1em;
}
.actors li a {
  display: flex;
  gap: 0.1em;
  background-color: rgba(134, 131, 131, 0.2);
  padding: 0.2em 0.5em;
  color: #fff;
  border-radius: 50px;
}
.actors li a:hover {
  background-color: rgba(134, 131, 131, 0.5);
}
.actors li div img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 3px;
}
.actors li p {
  font-size: 0.8rem;
  font-weight: 300;
  align-content: center;
}
.other .title {
  padding-bottom: 1em;
  font-weight: 700;
  margin-top: 6em;
}
.other ul {
  gap: 2em;
  padding-right: 1em;
}
.other ul li p {
  font-size: 0.8rem;
  color: #6d6767;
  font-weight: 300;
  padding-bottom: 3px;
}
.other ul li h1 {
  font-size: 0.7rem;
  font-weight: 700;
}
.other ul li h1:hover {
  color: #d19e31;
}
.comment {
  margin-bottom: 3em;
}
.comment .top-comment .title {
  font-weight: 700;
  margin-top: 6em;
  padding-bottom: 1em;
}
.comment .top-comment .input {
  gap: 1em;
  align-items: center;
  position: relative;
}
.comment .top-comment .input input {
  flex-basis: 95%;
  height: 40px;
  font-size: 0.8rem;
  color: #191919;
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px;
}
.comment .top-comment .input input::placeholder {
  font-family: iran-sanse;
  color: #cccccc;
}
.comment .top-comment .input input:focus-visible {
  border: transparent 0;
  outline: none;
}
.comment .top-comment .input input:focus {
  background-color: #fff;
  border: transparent 0;
}
.comment .top-comment .input i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  background-color: #313131;
  padding: 13px 20px;
  cursor: pointer;
}
.comment .account .account-img {
  border-radius: 20px;
  background-color: #bd968c;
  padding: 6px;
  width: 30px;
  height: auto;
}
